/*
0 - Geral
1 - Menu
2 - Section Intro
3 - Section Historia
4 - Section Info
5 - Section Lojas
6 - Section Assine
7 - Footer
*/

/* 0 - Geral */
:root {
	--preto-primario: #333;

	--preto-secundario: #252525;

	--branco-primario: #FAFAFA;

	--cinza-primario: #e7e4d8;

	--cinza-footer: #d6d3c8;

	--cafe-com-leite: #e7e4d8; 

	--cafe-com-leite-borda: #d6d3c8;

	--paulista: #492901;

	--carioca:#c17139;

	--mineiro:#d7a54d;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.clear:after, .clear:before {
	content: "";
	display: table;
	clear: both;
}


/* 1 - Menu */
.menu {
	background-color: var(--preto-secundario);
	height: 71;
	padding: 15px;

}

.menu ul li a {
	font-family: Georgia, serif;
	color: var(--branco-primario);
	text-decoration: none;
}

.menu ul li {
	list-style: none;
	display: inline-block;
}

.menu-nav {
	float: right;
}

.menu-nav li a {
	padding: 11% 15px;
	display: block;
}


.menu-nav ul li:after {
	content: "";
	display: block;
	background-color: var(--branco-primario);
	height: 2px;
	width: 0;
}

.menu-nav ul li:hover:after {
	width: 100%;
	transition: .4s;
}

/* 2 - Section Intro */

.intro {
	text-align: center;
	color: var(--branco-primario);
	background: url(../assets/img/bg-intro.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	padding: 150px 0px;
}

.intro h1{
	text-transform: uppercase;
	font-size: 3em;
	font-weight: bold;
	font-family: Georgia, serif;
}

.intro h1:after {
content: "";
display: block;
height: 5px;
width: 20px;
background-color: var(--branco-primario);
margin: 10px auto;
}

.intro h1:hover:after {
	width: 20%;
	transition: .3s;
	}


.intro p {
	font-size: 1.125em;
	font-style: italic;
	font-family: Georgia, serif;
}


.sobre {
    padding: 60px 0;
}

.sobre h2 {
    font-family: 'Georgia', serif;
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 60px;
}

.sobre-item {
    float: left;
    margin: 0 10px;
    width: 460px;
}

.sobre-item img{
    display: block;
    max-width: 100%;
}

.sobre-item h3 {
    font-size: 2em;
    background-color: var(--preto-secundario);
    width: 220px;
    color: var(--branco-primario);
    font-style: italic;
    font-weight: normal;
    text-align: center;
    text-align: center;
    width: 220px;
    padding: 5px 0 10px 0;
    position: relative;
    top: -25px;
}

.sobre p {
    text-align: center;
    font-size: 1.125em;
    font-style: italic;
    line-height: 1.4em;
    max-width: 460px;
    margin: 20px auto;
}


/*3 - Section Historia*/

.produtos {
	background: var(--cafe-com-leite);
    border-top: 3px solid var(--cafe-com-leite-borda);
    border-bottom: 3px solid var(--cafe-com-leite-borda);
	padding: 60px 0;
	
}

.produtos-item h2:before{
	content:"";
	display: block;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	margin: auto;
	border-radius: 50%;
	border: 5px solid var(--cafe-com-leite);
}
.produtos-item .produtos-paulista:before{
	background: var(--paulista);
	box-shadow: 0 0 0 5px var(--paulista);
}

.produtos-item .produtos-carioca:before{
	background: var(--carioca);
	box-shadow: 0 0 0 5px var(--carioca);
}

.produtos-item .produtos-mineiro:before{
	background: var(--mineiro);
	box-shadow: 0 0 0 5px var(--mineiro);
}




.produtos-item h2{
	font-size: 2.25em;
	text-align: center;
}

.produtos-item {
	display:block;
	margin: 0 20px;
	float: left;
}

.produtos .container {
	height: 280px;
	margin: auto;
	text-align: center;
}

.produtos-item p{
	font-size: 1em;
    width: 220px;
    color: var(--preto-secundario);
    font-style: italic;
    font-weight: normal;
    text-align: center;
    text-align: center;
    width: 220px;
	padding: 5px;
    position: relative;
	top: 10px;
	bottom: 10px;
}

.produtos-btn {
	text-decoration: none;
	color: var(--preto-primario);
	background-color: var(--cafe-com-leite);
	border-radius: 3px;
	border: 1px solid var(--preto-primario);
	font-size: 1.125em;
	font-family: Georgia, serif;
	padding: 10px 30px;
	border: 2px solid var(--preto-secundario);
	font-weight: bold;
	border-radius: 0;
	position: relative;
	left: 42%;

	
}

.produtos-btn:hover{
	color: var(--cafe-com-leite);
	background-color: var(--preto-primario);
	transition: .5s;
}


/*5 - Section Lojas*/
.locais {
	margin:auto;
	display: block;
	padding: 60px 60px;
}
.locais img{
	float: left;
}

.locais-item {
	display: inline-block;
	margin-top: 30px;
}

.locais-item div{
	display: inline-block; 
}
.locais h2{
	font-size: 2em;
    width: 220px;
    color: var(--preto-primario);
    font-weight: bold;
	text-align: left;
	margin-left: 20px;
    width: 220px;
    padding: 5px 0 10px 0;
    position: relative;
    top: -25px;
}

.locais p {
	text-align: center;
	font-size: 1.125em;
	font-family: Georgia, serif;
    color: var(--preto-secundario);
	font-style: italic;
	line-height: 1.4em;
	max-width: 460px;
	margin: 20px auto;
}

.locais a{
	text-decoration: none;
	color: var(--preto-primario);
	background-color: var(--branco-primario);
	border-radius: 3px;
	border: 1px solid var(--preto-primario);
	font-size: 1.125em;
	font-family: Georgia, serif;
	padding: 10px 30px;
	border: 2px solid var(--preto-secundario);
	font-weight: bold;
	position: relative;
	left: 10px;
}
.locais a:hover{
	color: var(--branco-primario);
	background-color: var(--preto-primario);
	transition: .5s;
}


/*6 - ASSINE*/

.assine {
	background: var(--cinza-primario);
	width: 100%;
	height: 100px;
}

.assine-info {
	display: block;
}

.assine .container {
	margin: auto;
}
.assine h2 {
    display: block;
    font-size: 1.7em;
    font-weight: bold;
}

.assine input{
	border: 2px solid black;
	padding: 10px;
	background: var(--cinza-primario);
}

.assine button{
	text-decoration: none;
	color: var(--preto-primario);
	background-color: var(--cinza-primario);
	border-radius: 3px;
	border: 1px solid var(--preto-primario);
	font-size: 1.125em;
	font-family: Georgia, serif;
	padding: 10px 30px;
	border: 2px solid var(--preto-secundario);
	font-weight: bold;
	position: relative;
}
.assine button:hover{
	color: var(--cinza-primario);
	background-color: var(--preto-primario);
	transition: .5s;
}

/* 7 - Footer */
.footer {
	background-color: var(--cinza-footer);

}

.footer img{
	margin-left: 90%;
}
